.col-md-4 {
    height: calc(75vh); // Set this height to the appropriate size
    overflow-y: scroll; // Only add scroll to vertical column
}
.col-md-3 {
    height: calc(75vh); // Set this height to the appropriate size
    overflow-y: scroll; // Only add scroll to vertical column
}
