.button-add-account {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.twitter-alert {
    width:40%;
}

.custom-spinner {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}