<!--
 * Authors: Diego Ceresuela, Raúl Piracés and Luis Jesús Pellicer.
 * Date: 16-05-2016
 * Name file: index.html
 * Description: Main frontend file. Contains the navigation bar, all the css files and all javascript files.
 -->
<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JajaTweets - Twitter Suite</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="styles/twitterAccounts.css">
    <link rel="stylesheet" href="styles/dashboard.css">
    <link rel="stylesheet" href="styles/signin.css">
    <link rel="stylesheet" href="styles/signup.css">
    <link rel="stylesheet" href="styles/twitterSubscriptions.css">
    <link rel="stylesheet" href="styles/shortener.css">
    <link rel="stylesheet" href="styles/errors.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

</head>
<body>

<nav ng-controller="navCtrl as nav" class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ng-if="nav.isLoggedIn() && !nav.isRoot()" class="navbar-brand" href="#/dashboard">JajaTweets</a>
            <a ng-if="nav.isRoot()" class="navbar-brand" href="#/graphs">JajaTweets</a>
            <a ng-if="!nav.isRoot() && !nav.isLoggedIn()" class="navbar-brand" href="#">JajaTweets</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li ng-if="nav.isRoot()" class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>&nbsp;Admin tools&nbsp;<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-if="nav.isRoot()"><a href="#/graphs">&nbsp;Graphs</a></li>
                        <li ng-if="nav.isRoot()"><a href="#/accounts">&nbsp;Users</a></li>
                    </ul>
                </li>

                <li ng-if="nav.isLoggedIn()"><a href="#/twitterAccounts"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i>&nbsp;Twitter Accounts</a></li>
                <li ng-if="nav.isLoggedIn()" class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;Twitter Dashboard&nbsp;<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/dashboard">Main panel</a></li>
                        <li><a href="#/twitterSubscriptions">Subscriptions</a></li>
                        <li><a href="#/shortener">URL Shortener</a></li>
                        <li><a href="#/statistics">Statistics</a></li>
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
            <li ng-if="nav.isLoggedIn()" class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-user fa-lg" aria-hidden="true"></span>&nbsp;{{ nav.email() }}&nbsp;<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-if="!nav.isLoggedIn()"><a href="#/signin"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>&nbsp;Sign in</a></li>
                    <li ng-if="nav.isLoggedIn()"><a href="" ng-click="nav.logOut();console.log('foo');nav.loc.path('signin')"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>&nbsp;Log out</a></li>
                    <li ng-if="nav.isLoggedIn()"><a ng-href="#/profile/{{nav.id()}}"><i class="fa fa-user fa-lg" aria-hidden="true"></i>&nbsp;Profile</a></li>
                    <li ng-if="nav.isRoot()"><a href="#/signup"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>&nbsp;Sign up</a></li>
                </ul>
            </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div ng-view></div>


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/Chart.js/Chart.js"></script>
<script src="bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
<script src="app.js"></script>
<script src="signin/signin.js"></script>
<script src="errors/errors.js"></script>
<script src="signup/signup.js"></script>
<script src="graphs/graphs.js"></script>
<script src="statistics/statistics.js"></script>
<script src="profile/profile.js"></script>
<script src="accounts/accounts.js"></script>
<script src="twitterAccounts/twitterAccounts.js"></script>
<script src="components/version/version.js"></script>
<script src="dashboard/dashboard.js"></script>
<script src="twitterSubscriptions/twitterSubscriptions.js"></script>
<script src="shortener/shortener.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
<script src="common/authentication.service.js"></script>
<script src="common/errors.service.js"></script>
<script src="common/nav.controller.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular-spinners/dist/angular-spinners.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.js"></script>
</body>
</html>
