<link href="./signup.css" rel="stylesheet">
<body>
<h2>{{ signup.token }}</h2>
<div class="container">
    <form class="form-signup" ng-submit="signup.onSubmit()" style="max-width: 330px; margin: auto">
        <h2 class="form-signup-heading">Register new user</h2>
        <label for="name" class="sr-only">User name</label>
        <input type="text" id="name" class="form-control" placeholder="Name" required autofocus ng-model="signup.credentials.name">
        <label for="email" class="sr-only">Email address</label>
        <input type="email" id="email" class="form-control" placeholder="Email address" required autofocus ng-model="signup.credentials.email">
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" required ng-model="signup.credentials.password">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>

</div> <!-- /container -->
</body>