<div class="caption" style="text-align: center"><h3>URL Shortener</h3></div>

<div id="todo-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <form>
            <div class="form-group">
                <input type="url" class="form-control input-lg text-center" placeholder="https://twitter.com/" ng-model="formData.link">
            </div>

            <button type="submit" class="btn btn-primary btn-lg" ng-click="shAcc.add()">Short URL</button>
        </form>
        <spinner class="custom-spinner" name="loadingSpinner" img-src="spinner.gif"></spinner>
    </div>
</div>

<div ng-show="result" class="alert alert-success alert-dismissible text-center center-block twitter-alert" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Your URL has been shortened successfully:</strong><br/>
    <a target="_blank" href="{{result}}">{{result}}</a>
</div>