<!--
* Authors: Diego Ceresuela, Raúl Piracés and Luis Jesús Pellicer.
 * Date: 16-05-2016
 * Name file: accounts.html
 * Description: View for accounts. Show list of them.
 -->
<div class="caption" style="text-align: center"><h3>Users list</h3></div>
<table class="table table-responsive table-bordered" style="max-width: 1240px; margin: auto;">
    <tr>
        <th></th>
        <th>Email</th>
        <th>User</th>
        <th>In app tweets</th>
        <th>Total tweets</th>
        <th>Last access</th>
    </tr>
    <tr ng-repeat="user in acc.users">
        <td>
            <button ng-if="user.email != 'test@test'" class="btn btn-default" ng-click="acc.delete(user._id)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            <a class="btn btn-default" ng-href="#/profile/{{user._id}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </td>
        <td><h4>{{user.email}}</h4></td>
        <td>{{user.name}}</td>
        <td>{{user.tweet_app?user.tweet_app:0}}</td>
        <td>{{user.tweet_total?user.tweet_total:0}}</td>
        <td>{{user.lastAccess}}</td>
    </tr>
</table>
