

<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 bg-success">

            <h2 align="center">DASH BOARD</h2>

        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-offset-2 col-md-8 ">
            <form ng-submit="dashboard.newTweet()" name="tweet">
                <textarea
                        ng-change="dashboard.countt()"
                        class="form-control"

                        ng-minlength="1"
                        ng-model="dashboard.tweet"
                        required >

                </textarea>

                <ng-switch on="dashboard.tweet.length">
                    <div ng-if="dashboard.tweet.length == 0">
                        <p align="center" class="text-danger"> {{140 - dashboard.tweet.length}}</p>
                    </div>
                    <div ng-if="dashboard.tweet.length > 140">
                        <p align="center" class="text-danger"> {{140 - dashboard.tweet.length}}</p>
                    </div>
                    <div ng-if="dashboard.tweet.length <= 140 && dashboard.tweet.length > 0">
                        <p align="center" class="text-primary"> {{140- dashboard.tweet.length}}</p>
                    </div>
                    <div ng-if="dashboard.num == 0">
                        <p align="center" class="text-danger">{{140 - dashboard.tweet.length}}</p>
                    </div>
                </ng-switch>
                <h3>Delay publication</h3>
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox"
                               ng-model="dashboard.checked"
                               ng-true-value="'YES'"
                               ng-false-value="'NO'"

                               aria-label="...">
                     </span>

                    <input type="text"
                           placeholder="23/12/2017, 23:59"
                           class="form-control"
                           aria-label="..."
                           ng-model="dashboard.datePending">

                </div><!-- /input-group -->
                <br>
                <button  class="btn btn-primary" align="right"
                         type="submit"
                         ng-disabled="dashboard.tweet.length == 0 ||
                        dashboard.tweet.length > 140 ||
                        dashboard.tweet == null ">
                    Tweet
                </button>

            </form>
            <br>
            <form>
                <div class="form-group">
                    <input type="url" class="form-control input-lg text-center" placeholder="https://twitter.com/" ng-model="formData.link">
                </div>

                <button type="submit" class="btn btn-primary btn-lg" ng-click="shAcc.add()">Short URL</button>
            </form>
            <spinner class="custom-spinner" name="loadingSpinner" img-src="spinner.gif"></spinner>
        </div>
    </div>
    <div ng-show="result" class="alert alert-success alert-dismissible text-center center-block twitter-alert" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Your URL has been shortened successfully:</strong><br/>
        <a target="_blank" href="{{result}}">{{result}}</a>
    </div>
    <div class="row"><p></p></div>
    <div class="row">
        <div class="col-md-3 col-lg-3"  style="hight: 100%;overflow: scroll;">
            <h3>Own tweets</h3>
            <spinner class="custom-spinner" name="ownSpinner" img-src="spinner.gif"></spinner>
            <div class="media" ng-repeat="own in dashboard.ownTweets track by $index">

                <div class="media-left">
                    <img class="media-object img-rounded"
                         ng-src="{{own.user.profile_image_url}}"
                         alt="{{own.user.name}}"
                         width="50"
                         height="50">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{own.user.name}}</h4>
                    <div ng-bind-html="own.text"></div>
                    <p>
                        <i ng-click="dashboard.unretweet(own.id_str)"
                           ng-if="own.retweeted "
                           class="fa fa-retweet fa-lg"
                           aria-hidden="true" style="color:greenyellow;"></i>
                        <b ng-if="own.retweeted ">&nbsp;{{own.retweet_count}}&nbsp;</b>
                        <i ng-click="dashboard.retweet(own.id_str)"
                           ng-if="!own.retweeted"
                           class="fa fa-retweet fa-lg"
                           aria-hidden="true"></i>
                        <b ng-if="!own.retweeted">&nbsp;{{own.retweet_count}}&nbsp;</b>
                        <i ng-click="dashboard.unfavorite(own.id_str)"
                           ng-if="own.favorited "
                           class="fa fa-heart fa-lg"
                           aria-hidden="true"
                           style="color:red;"></i>
                        <b ng-if="own.favorited">&nbsp;{{own.favorite_count}}</b>
                        <i ng-click="dashboard.favorite(own.id_str)"
                           ng-if="!own.favorited"
                           class="fa fa-heart fa-lg"
                           aria-hidden="true"></i>
                        <b ng-if="!own.favorited">&nbsp;{{own.favorite_count}}</b>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 "  style="hight: 100%;overflow: scroll;">
            <h3>Home</h3>
            <spinner class="custom-spinner" name="homeSpinner" img-src="spinner.gif"></spinner>
            <div class="media" ng-repeat="accountTweets in dashboard.accountTweets">
                <div class="media-left">
                    <img class="media-object img-rounded"
                         ng-src="{{accountTweets.user.profile_image_url}}"
                         alt="{{accountTweets.user.name}}"
                         width="50"
                         height="50">
                </div>

                <div class="media-body">
                    <h4 class="media-heading">{{accountTweets.user.name}}</h4>
                    <div ng-bind-html="accountTweets.text"></div>
                    <p>
                        <i ng-click="dashboard.unretweet(accountTweets.id_str)"

                           ng-if="accountTweets.retweeted "
                           class="fa fa-retweet fa-lg"
                           aria-hidden="true" style="color:greenyellow;">

                        </i>
                        <b ng-if="accountTweets.retweeted ">&nbsp;{{accountTweets.retweet_count}}&nbsp;</b>
                        <i ng-click="dashboard.retweet(accountTweets.id_str)"
                           ng-if="!accountTweets.retweeted"
                           class="fa fa-retweet fa-lg"
                           aria-hidden="true">

                        </i>
                        <b ng-if="!accountTweets.retweeted">&nbsp;{{accountTweets.retweet_count}}&nbsp;</b>
                        <i ng-click="dashboard.unfavorite(accountTweets.id_str, sub.hashtag)"
                           ng-if="accountTweets.favorited "
                           class="fa fa-heart fa-lg"
                           aria-hidden="true"
                           style="color:red;">

                        </i>
                        <b ng-if="accountTweets.favorited">&nbsp;{{accountTweets.favorite_count}}</b>
                        <i ng-click="dashboard.favorite(accountTweets.id_str, sub.hashtag)"
                           ng-if="!accountTweets.favorited"
                           class="fa fa-heart fa-lg"
                           aria-hidden="true">

                        </i>
                        <b ng-if="!accountTweets.favorited">&nbsp;{{accountTweets.favorite_count}}</b>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 "  style="hight: 100%;overflow: scroll;">
            <h3>Pending tweets</h3>
            <spinner class="custom-spinner" name="pendingSpinner" img-src="spinner.gif"></spinner>
            <div class="media" ng-repeat="pending in dashboard.pendingTweets track by $index">
                <div class="media-left">
                    <img class="media-object img-rounded"
                         ng-src="{{pending.profile_image_url}}"
                         alt="{{pending.user.name}}"
                         width="50"
                         height="50">
                </div>

                <div class="media-body">
                    <h5 class="media-heading">{{pending.date}}</h5>
                    <div ng-bind-html="pending.status"></div>
                    <p>

                        <i ng-click="dashboard.destroyPending(pending._id, $index)"
                           class="glyphicon glyphicon-trash"
                           aria-hidden="true"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 "  style="hight: 100%;overflow: scroll;">
            <h3>Mentions</h3>
            <spinner class="custom-spinner" name="mentionsSpinner" img-src="spinner.gif"></spinner>
            <div class="media" ng-repeat="mentions in dashboard.mentions">
                <div class="media-left">
                    <img class="media-object img-rounded"
                         ng-src="{{mentions.user.profile_image_url}}"
                         alt="{{mentions.user.name}}"
                         width="50"
                         height="50">
                </div>

                <div class="media-body">
                    <h4 class="media-heading">{{mentions.user.screen_name}}</h4>
                    <div ng-bind-html="mentions.text"></div>
                    <p>
                        <i ng-click="dashboard.unretweet(mentions.id_str)"
                           ng-if="mentions.retweeted "
                           class="fa fa-retweet fa-lg"
                           aria-hidden="true" style="color:greenyellow;"></i>
                        <b ng-if="mentions.retweeted ">&nbsp;{{mentions.retweet_count}}&nbsp;</b>
                        <i ng-click="dashboard.retweet(mentions.id_str)"
                           ng-if="!mentions.retweeted"
                           class="fa fa-retweet fa-lg"
                           aria-hidden="true"></i>
                        <b ng-if="!mentions.retweeted">&nbsp;{{mentions.retweet_count}}&nbsp;</b>
                        <i ng-click="dashboard.unfavorite(mentions.id_str, sub.hashtag)"
                           ng-if="mentions.favorited "
                           class="fa fa-heart fa-lg"
                           aria-hidden="true"
                           style="color:red;"></i>
                        <b ng-if="mentions.favorited">&nbsp;{{mentions.favorite_count}}</b>
                        <i ng-click="dashboard.favorite(mentions.id_str, sub.hashtag)"
                           ng-if="!mentions.favorited"
                           class="fa fa-heart fa-lg"
                           aria-hidden="true"></i>
                        <b ng-if="!mentions.favorited">&nbsp;{{mentions.favorite_count}}</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
